<!-- SPDX-FileCopyrightText: Fondazione Istituto Italiano di Tecnologia
SPDX-License-Identifier: BSD-3-Clause -->

<?xml version="1.0"?>
<model>
    <name>iCubGazeboSimpleCollisionsV2_5_xsens</name>

    <version>1.0</version>
    <sdf version='1.6'>iCubGazeboSimpleCollisionsV2_5_xsens.urdf</sdf>

    <author>
        <name>Paolo Maria Viceconte</name>
        <email>paolo.viceconte@iit.it</email>
    </author>

    <description>
        Model of the iCub humanoid robot, with simplified collision meshes, adapted for retargeting data collected using XSens.
    </description>
</model>
